/* main page */

html {
    scroll-behavior: smooth;
}

#landingPage {
    background-color: rgb(12, 20, 40);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#landingTitle {
    color: antiquewhite;
    font-weight: bold;
}

#landingLink {
    text-decoration: none;
    padding: 2px 16px;
    border-radius: 10px;
    color: blanchedalmond;
}

#landingLink:hover {
    background-color: blanchedalmond;
    color: black;
}

#container {
    position: relative;
    text-align: center;
    color: white;
    font-family: monospace;
    font-size: larger;
    display: flex;
    flex-direction: column;
}

#pinkDotImg {
    width: 100%;
    height: auto;
}

#prideFlag {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#prideArrow {
    width: 80px;
    height: 80px;
    margin-left: 50%;
}

#titleText {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(104, 12, 12, 0.5);
    padding: 15px;
    border-radius: 15px;
    font-family: monospace;
    font-size: xx-large;
    width: 40%;
}

/* intro text */

#introWhole {
    background-color: papayawhip;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.introText {
    font-family: Optima;
    color: slategray;
    display: block;
    line-height: 32px;
    text-align: left;
    border-radius: 10px;
    padding: 5px;
    padding-left: 12%;
    padding-right: 12%;
    font-size: larger;
    font-weight: lighter;
}

#introQuote {
    font-family: Courier;
    color: salmon;
    display: block;
    line-height: 30px;
    text-align: justify;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15%;
    padding-right: 15%;
    font-size: larger;
}

#youtubeVid {
    margin: auto;
    display: block;
}

/* div - perception change from 2018 VS 2022*/

#changePerception {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

#canvas-pie {
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 50%;
    margin-left: 25%;
    border-radius: 20px;
}

#canvas-bar {
    padding-left: 10%;
    padding-right: 10%;
}

#button-pie {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#button2018 {
    background-color: lightsteelblue;
    color: rgb(77, 77, 77);
    font-family: Optima;
    font-weight: bold;
    width: 5%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-right: 15px;
}

#button2018:hover {
    background-color: rgb(165, 184, 210);
    color: white;
}

#button2022 {
    background-color: thistle;
    color: rgb(77, 77, 77);
    font-family: Optima;
    font-weight: bold;
    width: 5%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15px;
}

#button2022:hover {
    background-color: rgb(196, 172, 196);
    color: white;
}

#acceptanceTable {
    width: 100%;
    table-layout: fixed;
}

#buttonColumn {
    width: 30%;
    text-align: center;
    padding: 10px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

#acceptance {
    width: 23%;
    margin-left: 35%;
}

#prideHeart {
    width: 30%;
    margin-left: 50%;
}

#discussion {
    width: 36%;
    margin-left: 50%;
}

#aText, #eText, #dText {
    font-family: Optima;
    color: rosybrown;
    line-height: 32px;
    text-align: justify;
    font-size: large;
    font-weight: lighter;
    padding-right: 20%;
}


/* div: split data by age */

#youngOld {
    background-color: lavenderblush;
    display: flex;
    flex-direction: column;
}

/* bar chart: 2013 VS 2018 */

.explanation {
    font-family: Optima;
    border-radius: 10px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    font-size: larger;
    color: rgb(7, 76, 7);
    font-weight: lighter;
    display: block;
    line-height: 32px;
}


/* conclusion */

#conclusion {
    background-color: beige;
    width: 100%;
    padding: 10px;
}

#conclusionHeader {
    font-family: Optima;
    color: darksalmon;
    font-size: x-large;
    margin-left: 12%;
    margin-right: 12%;
}

.conclusionText {
    padding: 10px;
    font-family: Optima;
    color: teal;
    font-size: larger;
    margin-left: 15%;
    margin-right: 15%;
    font-weight: lighter;
    display: block;
    line-height: 32px;
}


/* pie chart: voting for support or oppose */

#votePie {
    margin: auto;
    width: 30%;
}

#voteButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#supportButton {
    background-color: darkseagreen;
    font-family: Optima;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-right: 10px;
}

#supportButton:hover {
    background-color: mediumseagreen;
}

#opposeButton {
    background-color: indianred;
    font-family: Optima;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-right: 10px;
}

#opposeButton:hover {
    background-color: tomato;
}


/* pride flag table */

#flagTable {
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
}

#colorButton {
    background-color: lightgray;
    font-family: Optima;
    border: none;
    color: black;
    padding: 10px;
    margin-left: 25%;
    width: 50%;
}

#colorButton:hover {
    background-color: rgb(189, 188, 188);
    color: white;
}

#orange {
    background-color: orange;
    padding: 15px;
}

#yellow {
    background-color: yellow;
    padding: 15px;
}

#green {
    background-color: green;
    padding: 15px;
}

#blue {
    background-color: blue;
    padding: 15px;
}

#purple {
    background-color: purple;
    padding: 15px;
}


/* contact form */

#formID {
    background: lavender;
    padding: 15px;
    font-weight: lighter;
}

#formTitle {
    text-align: center;
    font-family: Optima;
}

.formContent {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: Optima;
    width: 50%;
    margin: 5px;
    margin-left: 25%;
    align-items: center;
}

#buttonSubmit {
    width: 50%;
    margin-left: 25%;
    padding: 10px;
    background-color: darkseagreen;
    font-family: Optima;
    border-radius: 5px;
    border: none;
    color: white;
}

#buttonSubmit:hover {
    background-color: mediumseagreen;
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24);
}
